<!DOCTYPE html>
<html>
<head>
  <title>Flixter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/4.12/video.js"></script>
    <style>
      .video-js {padding-top: 56.25%}
      .vjs-fullscreen {padding-top: 0px}
    </style>
</head>
<body>

<div id="wrap">
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'FLIXTER', root_path, :class => 'navbar-brand'%>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Courses', courses_path%> <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-list"></span> User Menu</a>
          <ul class="dropdown-menu" role="menu">
            <% if user_signed_in? %>
            <li><%= link_to 'My Dashboard', dashboard_path %></li>
            <li><%= link_to 'Teach a Class', new_instructor_course_path %></li>
            <li><%= link_to 'Profile', new_user_profile_path %></li>
                <li class="divider"></li>
                  <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
                  <li><%=  current_user.email %></li>
            <% else %>
              <li><a data-toggle="modal" href="#signinModal">Sign In</a></li>
              <li><a data-toggle="modal" href="#signupModal">Sign Up</a></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
<p class="alert alert-danger"><%= alert %></p>
<% end %> 

<%= yield %>

</div>

<br class="clr" />
  
<div id="footer">
    <div class="container">
      <div class="col-xs-12 col-sm-3">
        <b>Teachers</b>
        <br />
        <%= link_to 'Teach a Course', new_instructor_course_path %>
        <br />
        <%= link_to 'User Dashboard', dashboard_path %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <b>About</b>
        <br />
        <%= link_to 'Team', '#' %>
        <br />
        <%= link_to 'Careers', '#' %>
        <br />
        <%= link_to 'Privacy Policy', '#' %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <b>Contact</b>
        <br />
        rossrobertmckee@gmail.com
        <br />
        24 Hospital Circle
        <br />
        Danbury, CT 06810
      </div>
      <div class="col-xs-12 col-sm-3 social">
        <b>Social</b>
        <br />
        <%= link_to 'http://github.com/rossrobertmckee' do %>
          <%= image_tag 'github.png', :class => 'social-button' %>
        <% end %>
        <%= image_tag 'facebook.png', :class => 'social-bustton' %>
        <%= image_tag 'twitter.png', :class => 'social-button' %>
      </div>
    </div>
</div>


<!-- Modal -->
<div id="signinModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4><span class="glyphicon glyphicon-user"></span> Login (Welcome Back!)</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(:user, :url => user_session_path) do |f| %>
          <div class="inputs">
            <%= f.input :email, :required => false, :autofocus => true %>
            <%= f.input :password, :required => false %>
          </div>
      </div>
      <div class="modal-footer">
         <%= f.button :submit, "Sign in", :class => 'btn btn-primary' %>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="signupModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4><span class="glyphicon glyphicon-edit"></span> Sign up! (A smart idea, btw)</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(:user, :url => user_registration_path) do |f| %>
          <div class="inputs">
            <%= f.input :email, :required => false, :autofocus => true %>
            <%= f.input :user_name, :required => false %>
            <%= f.input :password, :required => false %>
            <%= f.input :password_confirmation %>
          </div>
      </div>
      <div class="modal-footer">
         <%= f.button :submit, "Sign Me Up!", :class => 'btn btn-primary' %>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



</body>
</html>
